
<div>
<h1>Account Details</h1>

<p>Account ID {{accountDetail.id}}</p>
<!-- TODO: how to retrieve account id and other account details in this route? -->
 <section>
    <table>
      <thead>
      <tr>
        <th scope="col">Account Name</th>
        <th scope="col">Balance</th>
        <th scope="col">Account Type</th>
      </tr>
      </thead>
      <tbody>
        <tr>
         <!--<tr *ngFor="let account of filterAccounts(account)"> -->
           <td>{{accountDetail.id}}</td>
           <td>{{accountDetail.balance}}</td>
           <td>{{accountDetail.currency}}</td>
      </tr>
    </tbody>
  </table>
 </section>
 </div>

